body{
    font-family: sans-serif;
    font-size: 16px;
    background: #FDAF75;
}
img{
    width: 25%;
  
}


.nav-enlace{
    display: inline-block;
    background: salmon;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
}
.nav-enlace:hover{
    background:  black;
}
nav{
    background: rebeccapurple;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.nav-boton{
    background: salmon;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}


    
.flex-container{
    display: flex;
    flex-direction: row;
}

.flex-container div{
    margin: 5px;
    flex-basis: 100%;
}


.center img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.espacio{
  margin-top: 10px;
}


.centrar {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: lucida Sans;
    
}

@media (max-width: 600px){
    nav{
         margin: 10px 0; 
        background: black;
        flex-direction: column;
        
    }
    .nav-enlace{
        margin: 10px 0;
        background: white;
        color: blue;
    }
    .nav-boton{
        display: inline-block;
         margin: 10px 0; 
         background: white;
         color: blue;
    }
    .flex-container{
        display: flex;
        flex-direction: column;
    }
    .flex-container div{
        flex-basis: 100%;
    }
    .desaparece{
        display: none;
    }
    .nav-boton:hover{
        background: lightslategray ;
        color: white;
     }
     .nav-enlace:hover{
        background:  lightslategray;
        color: white;
}

}