<div class="container" >
    <div class="row">
          <p>Hola {{persona}} <a class="btn btn-danger" href="/admin/login/logout">Cerrar Sesion <i class="fa-solid fa-right-from-bracket"></i></a></p>
    </div>
</div>